.jumbotron{
    background-color: gray;
    color: black;
}

footer{
    background-color: rgba(100, 100, 100, 0.);
    margin-left: 100px;
    margin-right: 100px;
}

.card-accesorio{
    flex: 1 20%;
    padding: 2px 2px 5px 2px;
    margin: 15px 15px 15px 15px;
}
.btn-accesorio{
    width: 100%;
}